<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
  <title>Add Booking</title>
  <script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
      /*[# th:if="${returnMessage} != null"]*/
      let returnMessage = /*[[${returnMessage}]]*/ 'default message';
      if (returnMessage && returnMessage !== 'default message') {
        alert(returnMessage);
      }
      /*[/]*/
    });
  </script>
</head>
<body>
<div th:replace="navbar :: navbar"></div>
<form th:action="@{/user/add}" method="post" th:object="${user}">

  <label for="username">Username:</label><br>
  <input type="text" id="username" name="username" th:field="*{username}" />
  <br><br>

  <label for="password">Password:</label><br>
  <input type="text" id="password" name="password" th:field="*{password}" />
  <br><br>

  <input type="hidden" id="id" name="id" th:field="*{id}" />

  <input type="hidden" name="rolesSelected" value=""/>
  <div>
    <label>Roles:</label><br>
    <div th:each="role : ${roles}">
      <input type="checkbox" th:id="'role_' + ${role.id}" th:name="rolesSelected" th:value="${role.id}"
             th:checked="${user.roles.contains(role)}" />
      <label th:for="'role_' + ${role.id}" th:text="${role.name}"></label><br>
    </div>
  </div>

  <input type="submit" value="Submit">
</form>
</body>
</html>
