<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
  <title>Add User</title>
  <script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
      /*[# th:if="${returnMessage} != null"]*/
      let returnMessage = /*[[${returnMessage}]]*/ 'default message';
      if (returnMessage && returnMessage !== 'default message') {
        alert(returnMessage);
      }
      /*[/]*/
    });
  </script>
  <style>
    .checkbox-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }
    .checkbox-group label {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
    }
    .checkbox-group input[type="checkbox"] {
      margin-right: 10px;
    }
  </style>
</head>
<body>
<div class="sidebar" th:replace="fragments/sidebar :: sidebar"></div>
<div class="main-content">
  <div class="center-container">
    <form th:action="@{/user/add}" method="post" th:object="${user}" class="form-center">
      <h2>Add User</h2>

      <label for="username">Username:</label><br>
      <input type="text" id="username" name="username" th:field="*{username}" th:required="true" class="input-field"/>
      <br><br>

      <label for="password">Password:</label><br>
      <input type="text" id="password" name="password" th:field="*{password}" th:required="true" class="input-field"/>
      <br><br>

      <input type="hidden" id="id" name="id" th:field="*{id}"/>

      <input type="hidden" name="rolesSelected" value=""/>
      <div class="checkbox-group">
        <label>Roles:</label><br>
        <div th:each="role : ${roles}">
          <label>
            <input type="checkbox" th:id="'role_' + ${role.id}" th:name="rolesSelected" th:value="${role.id}" th:required="true" th:checked="${user.roles.contains(role)}" />
            <span th:text="${role.name}"></span>
          </label>
        </div>
      </div>

      <input type="submit" value="Submit" class="btn btn-submit">
    </form>
  </div>
</div>
<script th:src="@{/js/sidebar.js}" type="text/javascript"> </script>
</body>
</html>
