<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <title>Detailed Booking Info</title>
    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', function() {
            /*[# th:if="${returnMessage} != null"]*/
            let returnMessage = /*[[${returnMessage}]]*/ 'default message';
            if (returnMessage && returnMessage !== 'default message') {
                alert(returnMessage);
            }
            /*[/]*/
        });

        function togglePasswordInput(input) {
            if (input.value === '*****') {
                input.type = 'text';
                input.value = '';
            }
        }

        function handleBlur(input) {
            if (input.value === '') {
                input.type = 'password';
                input.value = '*****';
            }
        }
    </script>
</head>
<body>
<div th:replace="navbar :: navbar"></div>
<form th:action="@{/user/updateUser}" method="post" th:object="${user}">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" th:field="*{username}" />
    <br><br>

    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" th:field="*{password}" value="*****" onfocus="togglePasswordInput(this)" onblur="handleBlur(this)" />
    <br><br>

    <label for="enabled">Enabled:</label><br>
    <input type="checkbox" id="enabled" name="enabled" th:field="*{enabled}" />
    <br><br>

    <input type="hidden" id="id" name="id" th:field="*{id}" />

    <input type="hidden" name="rolesSelected" value=""/>
    <div>
        <label>Roles:</label><br>
        <div th:each="role : ${roles}">
            <label>
                <input type="checkbox" th:id="'role_' + ${role.id}" th:name="rolesSelected" th:value="${role.id}"
                       th:checked="${user.getRoles().contains(role)}" />
            </label>
            <label th:for="'role_' + ${role.id}" th:text="${role.name}"></label><br>
        </div>
    </div>

    <input type="submit" value="Submit">
</form>
</body>
</html>
