<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
  <title>Sidebar Fragment</title>
  <style>
    .larger-text {
      font-size: 2.5em; /* Adjust the size as needed */
    }
  </style>
</head>
<body>
<div class="sidebar" th:fragment="sidebar">
  <h2>Book'n'Bunk</h2>
  <div class="auth-buttons">
    <form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()" class="login-form">
      <button type="submit" class="btn btn-danger auth-button">
        <span class="sidebar-icon"><i class="fas fa-sign-out-alt"></i></span>
        <span class="sidebar-text">Logout</span>
      </button>
    </form>
    <form th:action="@{/login}" method="get" sec:authorize="!isAuthenticated()" class="login-form">
      <button type="submit" class="btn btn-success auth-button">
        <span class="sidebar-icon"><i class="fas fa-sign-in-alt"></i></span>
        <span class="sidebar-text">Login</span>
      </button>
    </form>
  </div>
  <a th:href="@{/}">Home</a>
  <div class="section">
    <a href="javascript:void(0)" class="section-title">Bookings</a>
    <div class="section-links">
      <a th:href="@{/booking/getAll}">All Bookings</a>
      <a th:href="@{/booking/findAvailability}">Availability</a>
      <a th:href="@{/booking/createBooking}">Create Booking</a>
    </div>
  </div>
  <div class="section">
    <a href="javascript:void(0)" class="section-title">Customers</a>
    <div class="section-links">
      <a th:href="@{/customers/all}">All Customers</a>
      <a th:href="@{/customers/addCustomerPage}">Add New Customer</a>
    </div>
  </div>
  <div class="section">
    <a href="javascript:void(0)" class="section-title">Rooms</a>
    <div class="section-links">
      <a th:href="@{/rooms/1/events}">Room 1</a>
      <a th:href="@{/rooms/2/events}">Room 2</a>
      <a th:href="@{/rooms/3/events}">Room 3</a>
      <a th:href="@{/rooms/4/events}">Room 4</a>
    </div>
  </div>
  <a th:href="@{/contractCustomer/getAll}">Contract Customers</a>
  <div class="section">
    <a href="javascript:void(0)" class="section-title">Blacklist</a>
    <div class="section-links">
      <a th:href="@{/blacklist/addToBlacklist}">Add Customer To Blacklist</a>
      <a th:href="@{/blacklist/removeFromBlacklist}">Remove Customer From Blacklist</a>
    </div>
  </div>

  <div class="section">
    <span sec:authorize="isAuthenticated()" class="section-title">Admin</span>
    <div class="section-links">
      <a th:href="@{/email/edit-template}" sec:authorize="isAuthenticated()" class="section-title larger-text">Email</a>
      <a href="javascript:void(0)" class="section-title larger-text" sec:authorize="isAuthenticated()">Users</a>
      <div class="section-links" style="display:none;">
        <a th:href="@{/user/getAll}">All Users</a>
        <a th:href="@{/user/createUser}">Add New User</a>
      </div>
    </div>
  </div>
</div>

<script th:src="@{/js/sidebar.js}" type="text/javascript"></script>
</body>
</html>
