<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel=stylesheet th:href="@{/css/style.css}" type="text/css">
    <title>Detailed booking Info</title>
    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', function() {
            /*[# th:if="${returnMessage} != null"]*/
            let returnMessage = /*[[${returnMessage}]]*/ 'default message';
            if (returnMessage && returnMessage !== 'default message') {
                alert(returnMessage);
            }
            /*[/]*/
        });
    </script>
</head>
<body>
<div th:replace="navbar :: navbar"></div>
<form th:action="@{/booking/modify}" method="post" th:object="${booking}">
    <label for="startDate">Start date:</label><br>
    <input type="date" id="startDate" name="startDate" th:field="*{startDate}" required/>
    <br><br>

    <label for="endDate">End Date:</label><br>
    <input type="date" id="endDate" name="endDate" th:field="*{endDate}" required/>
    <br><br>

    <select id="roomMiniDtoId" name="roomMiniDto.id" th:field="*{roomMiniDto.id}" required>
        <option value="" th:text="'Select Room'">Select Room</option>
        <option th:each="room : ${rooms}" th:value="${room.id}" th:text="'Room number: ' + ${room.getId()} + ', Number of beds: ' + (${room.getRoomSize()} + 1)"></option>
    </select>


    <label for="customerName">Customer:</label><br>
    <p id="customerName" th:text="'Customer name: ' + ${booking.getCustomerMiniDto().getName()} + '   ||   ' + 'Customer number: ' + ${booking.getCustomerMiniDto().getId()}"></p>
    <br><br>



    <label for="extraBed">Extra Bed:</label><br>
    <select id="extraBed" name="Extra bed" th:field="*{extraBed}">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
    </select><br><br>

    <input type="hidden" id="id" name="id" th:field="*{id}" />
    <input type="hidden" id="customerMiniDto" name="customerMini.id" th:field="*{customerMiniDto.id}" />

    <input type="submit" value="Submit">
</form>
</body>
</html>
