<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>List of Customers</title>
    <style>
        .table-cell {
            padding-right: 20px;
        }

        .bold-text {
            font-weight: bolder;
        }
    </style>
</head>
<body>

<h1>List of Customers</h1>

<table>
    <tbody>
    <tr th:each="customer : ${allCustomers}">
        <td class="bold-text" th:text="'ID:'"></td>
        <td class="table-cell" th:text="${customer.id}"></td>
        <td class="bold-text" th:text="'Name:'"></td>
        <td class="table-cell" th:text="${customer.name}"></td>
        <td class="bold-text" th:text="'Email:'"></td>
        <td class="table-cell" th:text="${customer.email}"></td>
    </tr>
    </tbody>
</table>

</form>
<a href="/customers/addCustomerPage" class="button-link">Add Customer</a>

</body>
</html>
