<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bokningsbekräftelse</title>
</head>
<body>
<p>Hi <span th:text="${customerName}">[Kundnamn]</span>,</p>
<p>Your booking is confirmed!</p>
<p>Details:</p>
<ul>
    <li>Room number: <span th:text="${roomSize}">[Storlek]</span></li>
    <li>Check in: <span th:text="${checkInDate}">[Incheckningsdatum]</span></li>
    <li>Check out: <span th:text="${checkOutDate}">[Utcheckningsdatum]</span></li>
</ul>
<p>Thank you for making a reservation at Book'n'Bunk!</p>
</body>
</html>
