<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Find Availability</title>
</head>
<body>

<form action="#" th:action="@{/booking/getAvailability}" method="post" >
    <label for="occupants">number Of Occupants:</label><br>
    <input type="text" id="occupants" name="occupants" value=""><br><br>
    <label for="startDate">Start Date:</label><br>
    <input type="text" id="startDate" name="startDate" value=""><br><br>
    <label for="endDate">End Date:</label><br>
    <input type="text" id="endDate" name="endDate" value=""><br><br>

    <input type="submit" value="Submit">
</form>
</body>
</html>