<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel=stylesheet th:href="@{/css/style.css}" type="text/css">
    <style>
        body {
            background-image: url('/css/background.webp');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 100vh;
            margin: 0;
        }
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="navbar :: navbar"></div>

</body>
</html>