<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
  <title>Reset Password</title>
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
    }
  </style>
</head>
<body>
<div class="center-container">
  <form th:action="@{/forgotPassword/resetPassword}" method="post" class="form-center-password">
    <h2>Reset Password</h2>
    <input type="hidden" name="token" th:value="${token}" />
    <div>
      <label for="password">New Password:</label>
      <input type="password" id="password" name="password" th:required="true" class="input-field-password" required />
    </div>
    <div>
      <button type="submit" class="btn btn-submit">Submit</button>
    </div>
  </form>
  <div th:if="${error}">
    <p class="alert alert-danger" th:text="${error}"></p>
  </div>
  <div th:if="${message}">
    <p class="alert alert-info" th:text="${message}"></p>
  </div>
</div>
</body>
</html>


