<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
  <title>Add Customer</title>
  <script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
      /*[# th:if="${returnMessage} != null"]*/
      let returnMessage = /*[[${returnMessage}]]*/ 'default message';
      if (returnMessage && returnMessage !== 'default message') {
        alert(returnMessage);
      }
      /*[/]*/
    });
  </script>
</head>
<body>
<div class="sidebar" th:replace="fragments/sidebar :: sidebar"></div>
<div class="main-content">
  <div class="center-container">
    <form th:action="@{/customers/addCustomer}" method="post" onsubmit="return validateForm()" class="form-center">
      <h1>Add Customer</h1>
      <label for="name">Name:</label><br>
      <input type="text" id="name" name="name" class="input-field"><br>

      <label for="email">Email:</label><br>
      <input type="email" id="email" name="email" class="input-field"><br>

      <input type="submit" value="Add to Customer List" class="btn btn-submit">
    </form>
  </div>
</div>

<script>
  function showMessage() {
    alert('Customer has been added');
  }

  function validateForm() {
    var name = document.getElementById('name').value;
    var email = document.getElementById('email').value;
    if (name.trim() === '' || email.trim() === '') {
      alert('Please enter both name and email');
      return false;
    }
    showMessage();
    return true;
  }
</script>
<script th:src="@{/js/sidebar.js}" type="text/javascript"> </script>
</body>
</html>
