<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Contract Customers</title>
</head>
<body>
<div th:replace="navbar :: navbar"></div>
<script th:src="@{/css/javascript/navbar.js}"></script>
<div id="navbarPlaceholder" class="container-fluid"></div>
<div class="container">
  <h2 class="booking-title">Contract Customers</h2>

  <form th:action="@{/contractCustomer/getAll}" method="get">
    <input type="text" name="search" th:value="${search}" placeholder="Search..." class="input-field">
    <button type="submit" class="btn btn-primary">Search</button>
  </form>

  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th><a th:href="@{/contractCustomer/getAll(page=${contractCustomerPages.number}, sort='companyName', sortDirection=${sort == 'companyName' and sortDirection == 'asc' ? 'desc' : 'asc'}, search=${search})}">Company Name</a></th>
      <th><a th:href="@{/contractCustomer/getAll(page=${contractCustomerPages.number}, sort='contactName', sortDirection=${sort == 'contactName' and sortDirection == 'asc' ? 'desc' : 'asc'}, search=${search})}">Contact Name</a></th>
      <th><a th:href="@{/contractCustomer/getAll(page=${contractCustomerPages.number}, sort='country', sortDirection=${sort == 'country' and sortDirection == 'asc' ? 'desc' : 'asc'}, search=${search})}">Country</a></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${contractCustomerPages}">
      <td><a th:href="@{'/contractCustomer/detailedContractCustomer/' + ${customer.localId}}" th:text="${customer.companyName}"></a></td>
      <td th:text="${customer.contactName}"></td>
      <td th:text="${customer.country}"></td>
    </tr>
    </tbody>
  </table>

  <div class="pagination clearfix">
    <!-- Previous button -->
    <a th:if="${contractCustomerPages.hasPrevious()}"
       th:href="@{/contractCustomer/getAll(page=${contractCustomerPages.number - 1}, sort=${sort}, sortDirection=${sortDirection}, search=${search})}"
       class="btn btn-primary">Previous</a>

    <!-- Page number -->
    <div class="page-number" th:text="'Page ' + (${contractCustomerPages.number + 1}) + ' of ' + ${contractCustomerPages.totalPages}"></div>

    <!-- Next button -->
    <a th:if="${contractCustomerPages.hasNext()}"
       th:href="@{/contractCustomer/getAll(page=${contractCustomerPages.number + 1}, sort=${sort}, sortDirection=${sortDirection}, search=${search})}"
       class="btn btn-primary">Next</a>
  </div>
</div>
</body>
</html>
