<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <title>Contract Customer Details</title>
    <style>
        table th{
            font-size: larger;
        }
    </style>

</head>
<body>
<div th:replace="navbar :: navbar"></div>

<h2>Contract Customer Details</h2>
<table>
    <table>
        <thead>
        <tr>
            <th th:text="${contractCustomer.companyName}"></th>
        </tr>
        </thead>
    <tbody>
    <tr>
        <td>Local ID</td>
        <td th:text="${contractCustomer.localId}"></td>
    </tr>
    <tr>
        <td>External System ID</td>
        <td th:text="${contractCustomer.externalSystemId}"></td>
    </tr>
    <tr>
        <td>Company Name</td>
        <td th:text="${contractCustomer.companyName}"></td>
    </tr>
    <tr>
        <td>Contact Title</td>
        <td th:text="${contractCustomer.contactTitle}"></td>
    </tr>
    <tr>
        <td>Street Address</td>
        <td th:text="${contractCustomer.streetAddress}"></td>
    </tr>
    <tr>
        <td>City</td>
        <td th:text="${contractCustomer.city}"></td>
    </tr>
    <tr>
        <td>Postal Code</td>
        <td th:text="${contractCustomer.postalCode}"></td>
    </tr>
    <tr>
        <td>Country</td>
        <td th:text="${contractCustomer.country}"></td>
    </tr>
    <tr>
        <td>Contact Name</td>
        <td th:text="${contractCustomer.contactName}"></td>
    </tr>
    <tr>
        <td>Phone</td>
        <td th:text="${contractCustomer.phone}"></td>
    </tr>
    <tr>
        <td>Fax</td>
        <td th:text="${contractCustomer.fax}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
