<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
  <title>Add to Blacklist</title>
  <script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
      /*[# th:if="${returnMessage} != null"]*/
      let returnMessage = /*[[${returnMessage}]]*/ 'default message';
      if (returnMessage && returnMessage !== 'default message') {
        alert(returnMessage);
      }
      /*[/]*/
    });
  </script>
</head>
<body>
<div th:replace="navbar :: navbar"></div>
<div class="center-container">
  <form th:action="@{/blacklist/add}" method="post" th:object="${blacklist}" class="form-center">
    <h2>Add to Blacklist</h2>
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" th:field="*{name}" class="input-field" />
    <br><br>

    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" th:field="*{email}" class="input-field" />
    <br><br>

    <input type="submit" value="Submit" class="btn btn-submit">
  </form>
</div>
</body>
</html>
