<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
  <title>Remove from Blacklist</title>
  <script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
      /*[# th:if="${returnMessage} != null"]*/
      let returnMessage = /*[[${returnMessage}]]*/ 'default message';
      if (returnMessage && returnMessage !== 'default message') {
        alert(returnMessage);
      }
      /*[/]*/
    });
  </script>
</head>
<body>
<div class="sidebar" th:replace="fragments/sidebar :: sidebar"></div>
<div class="main-content">
  <div class="center-container">
    <form th:action="@{/blacklist/remove}" method="get" th:object="${blacklist}" class="form-center">
      <h2>Remove from Blacklist</h2>
      <label for="email">Email:</label><br>
      <input type="text" id="email" name="email" th:field="*{email}" th:required="true" class="input-field" />
      <br><br>

      <input type="submit" value="Submit" class="btn btn-submit">
    </form>
  </div>
</div>
<script th:src="@{/js/sidebar.js}" type="text/javascript"></script>
</body>
</html>
