<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room Events</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body>
<h1>Room Events</h1>
<table>
    <thead>
    <tr>
        <th>Event Type</th>
        <th>Time</th>
        <th>Room Number</th>
        <th>Cleaned by</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="event : ${events}">
        <td th:text="${event.type}">Event Type</td>
        <td class="date-cell" th:text="${#temporals.format(event.timeStamp, 'yyyy-MM-dd HH:mm:ss')}">Time</td>
        <td th:text="${event.roomNo}">Room Number</td>
        <td th:if="${event.cleaningByUser != null}" th:text=" ${event.cleaningByUser}">Details</td>
        <td th:if="${event.cleaningByUser == null}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
