<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room Events</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body>
<div class="sidebar" th:replace="fragments/sidebar :: sidebar"></div>
<div class="main-content">
    <table>
        <tr th:each="event : ${events}">
            <td th:if="${event.doorEventType != null}" th:text="'Door ' + ${event.doorEventType}">
                Event Type
            </td>
            <td class="date-cell" th:if="${event.doorEventType != null}"
                th:text="${#temporals.format(event.timeStamp, 'yyyy-MM-dd HH:mm:ss')}">
                Time
            </td>
            <td th:if="${event.cleaningStatus != null}"
                th:text="'Cleaning ' + ${event.cleaningStatus} + ' by ' + ${event.cleaningByUser}">
                Details
            </td>
            <td class="date-cell" th:if="${event.cleaningStatus != null}"
                th:text="${#temporals.format(event.timeStamp, 'yyyy-MM-dd HH:mm:ss')}">
                Time
            </td>
        </tr>
    </table>
</div>
<script th:src="@{/js/sidebar.js}" type="text/javascript"> </script>
</body>
</html>
